
h1 {
    background-color: rgb(175, 218, 238);

    background-image: url('daniele-levis-pelusi-hROE4kwi5ng-unsplash.jpg');
    opacity:0.3 ;
}
.body-display{
    text-align: center;
}
.body{
    background-color: rgb(157, 218, 211);
    background-image: url("zbysiu-rodak-J5uSLJ4tFF4-unsplash.jpg");
    
}
.heading{
    color: rgb(49, 16, 231);
}
.container{
    
    /* background-color: rgb(92, 245, 61); */
}

